<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>pushBullet.png</string>
			<key>Script Interpreter</key>
			<string>/bin/bash</string>
			<key>Shell Script File</key>
			<string>pushBullet.sh</string>
			<key>Title</key>
			<string>pushBullet</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>pushBullet.</string>
	<key>Extension Identifier</key>
	<string>com.customct.popclip.extension.pushBullet</string>
	<key>Extension Name</key>
	<string>pushBullet</string>
	<key>Long Running</key>
	<true/>
</dict>
</plist>
